.itemDiv{
    margin: 25px;
    height: 600px;
    width: 400px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 10px;
    border: 1px black solid;
}


.itemDiv:hover{
    border: 1px white groove ;
    box-shadow: 7px 5px 5px black;


}

.itemImg{
        max-width: 300px;
        max-height: 550px;
}


.title{
    padding: 10px;

    color: black;
    font-size: 20px;
    font-style: unset;
    line-height: 22px;
}


.price{
    padding: 10px;

    color: black;
    font-size: 25px;
    font-style: unset;
    line-height: 25px;
}



