.mainGrid{
    display: grid;
    grid-template-rows:
            /*100px */
    1fr
    120px;
    grid-template-areas:
    /*"header"*/
    "main"
    "footer";

}

/*header{*/
/*    grid-area: header;*/
/*}*/

main{
    grid-area: main;
    /*min-height: 750px;*/
    min-height: 850px;
}

footer{
    grid-area: footer;
}
