.mainDiv{
    height: 250px;
    /*background: #802C6E;*/
    background: black;


    padding-left: 75px;
    padding-right: 75px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}



.logo{
    width: 240px;
    padding: 0 0 10px 0;
}


.mediaIcon{
    width: 55px;
    padding-right: 5px;
}


.contacts{
    color: #ECECEC;
}