.mainDiv {
    padding: 50px 140px 50px 140px;


    display: grid;
    grid-template-columns: 420px 380px 1fr;
    grid-template-rows: 75px 500px 1fr;

    grid-template-areas:
    "title title title"
    "image info info"
    "descriotion descriotion descriotion";
}


/*.title{*/
/*    grid-area: title;*/
/*    padding-top: 10px;*/

/*    color: black;*/
/*    font-size: 25px;*/
/*    font-style: unset;*/
/*    line-height: 22px;*/
/*    font-weight: bold;*/
/*}*/

.title {
    grid-area: title;
    padding: 10px 0 10px 0;

    font-size: 30px;
    font-weight: bold;
    color: black;
    font-style: oblique;
}


.itemImg {
    grid-area: image;
    max-width: 400px;
    max-height: 450px;
}

.info {
    grid-area: info;
}


.description {
    grid-area: descriotion;
    padding-top: 10px;

    color: black;
    font-size: 22px;
    font-style: unset;
    line-height: 22px;
}


.price {
    padding-top: 10px;
    /*font-weight: bold;*/
    color: black;
    font-size: 25px;
    font-style: unset;
    line-height: 22px;
}

.rating {
    padding-top: 10px;
    color: black;
    font-size: 25px;
    font-style: unset;
    line-height: 22px;
}

